extends /layouts/main

block styles
	link(rel="stylesheet", href=asset("/css/estilos.css"))
	script(src=asset("/js/jquery-3.2.1.js"))
	script(src=asset("/js/script.js"))
block content
	div(class="container")
		ul(class="breadcrumbs")
			li(class="page-item")
				a(href="/" class="page-link") Inicio
			li(class="page-item")
				a(href="#" class="page-link") Jerseys Oficiales
	div(class="wrap")
		div(class="store-wrapper")
			div(class="category_list")
				a(href="#" class="category_item" category="futbol") FÚTBOL
				a(href="#" class="category_item" category="nfl") NFL
				a(href="#" class="category_item" category="adulto") ADULTO
				a(href="#" class="category_item" category="baseball") BASEBALL
				a(href="#" class="category_item" category="all")
				a(href="#" class="category_item" category="all")
			section(class="products-list")
				div(class="product-item" category="futbol")
					img(src="https://cdn.shopify.com/s/files/1/0771/0055/products/001-3385-022_zoom1_clipped_rev_1_grande.png?v=1499430000", alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="futbol")
					img(src="https://images.media-arocam.com/XpxoYOK97qic36ERLIku1ECRQhk=/fit-in/330x330/W23762/GRN/JothVv10_w23762_grn_1.png", alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="futbol")
					img(src="https://http2.mlstatic.com/D_NQ_NP_748427-MLM26549930997_122017-O.jpg", alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="")
					img(src="https://www.trzcacak.rs/myfile/detail/342-3423279_nike-nfl-oakland-raiders-color-rush-limited-womens.png", alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="")
					img(src="https://fanatics.frgimages.com/FFImage/thumb.aspx?i=/productimages/_3358000/altimages/ff_3358688-aa17ef995c447c7fd428alt1_full.jpg&w=900", alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="baseball")
					img(src="https://images.footballfanatics.com/FFImage/thumb.aspx?i=/productimages/_2162000/ff_2162775_xl.jpg&w=600", alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="baseball")
					img(src="https://fanatics.frgimages.com/FFImage/thumb.aspx?i=/productimages/_3228000/ff_3228798_full.jpg&w=600", alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="baseball")
					img(src="https://fanatics.frgimages.com/FFImage/thumb.aspx?i=/productimages/_3470000/altimages/ff_3470803-e2053ddbea5eade87efbalt1_full.jpg&w=900", alt="OLV")
					a(href="#") POSER