extends /layouts/main

block styles

block content
        h3 INICIA SESIÓN
        div(class="form-group")

                    div: p: span Email*
                    input(type="text", class="form-control", placeholder="")
                    div: p: span Contraseña*
                    input(type="text", class="form-control", placeholder="")
                    <a href="home.pug"><button type="button">Ingresar</button></a>
                                  



  


    
    
    
   
