<!doctype html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0")
        title Suscrito a NewsLetter

    body
        h1 Innova Sport
        p Hola! Gracias por suscribirte a NewsLetter
        p Desde hoy recibirás noticias importantes acerca de nuestra tienda
        ul
            li Ofertas: 
            li Promociones: 
            li Descuentos:
            p Para más información, visitanos:
            ul
                li
                    a(href="https://www.innovasport.com/").
                        Innova Sport