<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/metro.min.css")
        link(rel="stylesheet", href="/css/metro-colors.min.css")
        title Innova Sport
    body
    div(data-role="appbar" data-expand-point="md" class="bg-dark fg-white")
        ul(class="app-bar-menu")
            li
                a(href="#" class="dropdown-toggle") Nuestros conceptos
                ul(class="d-menu" data-role="dropdown")
                    li: a(href="#") Invictus
    block content


    script(src="js/metro.min.js")
          
